html {
  box-sizing: border-box;
  background-color: #000;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 13px;
  width: 400px;
}

img {
  width: 400px;
  height: 350px;
}

.outer-box {
  margin: 50px auto auto;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;   
  padding: 15px;
}

.header-text {
  padding: 0 0 0 10px;
}

.spacer {
  flex-grow: 1;
}

.outer-bottom-box {
  margin: 15px;
}

.like-icons, .fa-html5, .fa-ellipsis-v {
  font-size: 25px;
}
.fa-bookmark {
  float: right;
}

.liked-by {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px auto;
}

.bottom-text {
  padding: 0 0 25px 0;
}
